In [1]:
import requests
import pandas as pd
import acquire

# 1. Get all items

In [17]:
domain = 'https://api.data.codeup.com/'
endpoint = 'api/v1/items'
items_list = []

url = domain + endpoint
response = requests.get(url)
data = response.json()

items_list.extend(data['payload']['items'])

for page in range(data['payload']['max_page']-1):
    url = domain + data['payload']['next_page']
    response = requests.get(url)
    data = response.json()
    
    items_list.extend(data['payload']['items'])

items = pd.DataFrame(items_list)

print("Shape of items dataframe ", items.shape)
items.head(10)

Shape of items dataframe  (50, 6)

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036
5,Sally Hansen,6,Sally Hansen Nail Color Magnetic 903 Silver El...,6.93,74170388732,74170388732
6,Twinings Of London,7,Twinings Of London Classics Lady Grey Tea - 20 Ct,9.64,70177154004,70177154004
7,Lea & Perrins,8,Lea & Perrins Marinade In-a-bag Cracked Pepper...,1.68,51600080015,51600080015
8,Van De Kamps,9,Van De Kamps Fillets Beer Battered - 10 Ct,1.79,19600923015,19600923015
9,Ahold,10,Ahold Cocoa Almonds,3.17,688267141676,688267141676

# 2. Get all stores information

In [3]:
domain = 'https://api.data.codeup.com/'
endpoint = 'api/v1/stores'
stores_list = []

url = domain + endpoint
response = requests.get(url)
data = response.json()

stores_list.extend(data['payload']['stores'])

for page in range(data['payload']['max_page']-1):
    print("Checking page: " , page)
    url = domain + data['payload']['next_page']
    response = requests.get(url)
    data = response.json()
    
    stores_list.extend(data['payload']['stores'])

stores = pd.DataFrame(stores_list)

print("Shape of stores df: ",stores.shape)
stores.head()

Shape of stores df:  (10, 5)

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218

# 3. Get all sales information

In [4]:
# domain = 'https://api.data.codeup.com/'
# endpoint = 'api/v1/sales'
# sales_list = []

# url = domain + endpoint
# response = requests.get(url)
# data = response.json()

# # Get initial data from page 1
# sales_list.extend(data['payload']['sales'])

# for page in range(data['payload']['max_page']-1):
#     print("Checking page: " , page, "of ", data['payload']['max_page'])
    
#     url = domain + data['payload']['next_page']
#     response = requests.get(url)
#     print("Downloading ", url)
#     data = response.json()
#     print(len(data['payload']['sales']), "Number of Records for this page")
    
#     sales_list.extend(data['payload']['sales'])
    
#     print("Records saved: ", len(sales_list))

# sales = pd.DataFrame(sales_list)

# print("Shape of sales df: ",sales.shape)
# sales.head()

In [5]:
# sales.to_csv('sales.csv', index = None)

# 4. Save to csvs

In [6]:
# sales.to_csv('sales.csv',index=False)
# stores.to_csv('stores.csv', index=False)
# items.to_csv('items.csv', index=False)

# 5. Combine all data into one large dataframe

In [28]:

# sales = acquire.acquire_sales()
# items = acquire.acquire_items()
# stores = acquire.acquire_stores()

# combined = sales.merge(items, how = 'left',
#                        left_on = 'item', 
#                        right_on = 'item_id').merge(stores, how = 'left',
#                                                    left_on = 'store', 
#                                                    right_on = 'store_id')

In [25]:
combined = acquire.acquire_all()

In [26]:
combined.shape

(913000, 16)

In [27]:
combined.head()

,item,sale_amount,sale_date,sale_id,store,item_brand,item_id,item_name,item_price,item_upc12,item_upc14,store_address,store_city,store_id,store_state,store_zipcode
0,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
1,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
2,1,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,1,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
3,1,13.0,"Fri, 04 Jan 2013 00:00:00 GMT",4,1,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
4,1,10.0,"Sat, 05 Jan 2013 00:00:00 GMT",5,1,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253

In [15]:
combined.shape

(913000, 16)

# 6. Open power systems data for Germany

In [11]:
# data = pd.read_csv('https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv')

# data.to_csv('power_systems.csv', index=False)

In [12]:
data = acquire.acquire_power_data()

In [13]:
data.shape

(4383, 5)

In [14]:
data

            Date  Consumption     Wind   Solar  Wind+Solar
0     2006-01-01   1069.18400      NaN     NaN         NaN
1     2006-01-02   1380.52100      NaN     NaN         NaN
2     2006-01-03   1442.53300      NaN     NaN         NaN
3     2006-01-04   1457.21700      NaN     NaN         NaN
4     2006-01-05   1477.13100      NaN     NaN         NaN
...          ...          ...      ...     ...         ...
4378  2017-12-27   1263.94091  394.507  16.530     411.037
4379  2017-12-28   1299.86398  506.424  14.162     520.586
4380  2017-12-29   1295.08753  584.277  29.854     614.131
4381  2017-12-30   1215.44897  721.247   7.467     728.714
4382  2017-12-31   1107.11488  721.176  19.980     741.156

[4383 rows x 5 columns]