In [1]:
import requests
import pandas as pd
import acquire

# 1. Get all items

In [2]:
domain = 'https://api.data.codeup.com/'
endpoint = 'api/v1/items'
items_list = []

url = domain + endpoint
response = requests.get(url)
data = response.json()

items_list.extend(data['payload']['items'])

for page in range(data['payload']['max_page']-1):
    url = domain + data['payload']['next_page']
    response = requests.get(url)
    data = response.json()
    
    items_list.extend(data['payload']['items'])

items = pd.DataFrame(items_list)

print("Shape of items dataframe ", items.shape)
items.head()

Shape of items dataframe  (50, 6)

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

# 2. Get all stores information

In [3]:
domain = 'https://api.data.codeup.com/'
endpoint = 'api/v1/stores'
stores_list = []

url = domain + endpoint
response = requests.get(url)
data = response.json()

stores_list.extend(data['payload']['stores'])

for page in range(data['payload']['max_page']-1):
    print("Checking page: " , page)
    url = domain + data['payload']['next_page']
    response = requests.get(url)
    data = response.json()
    
    stores_list.extend(data['payload']['stores'])

stores = pd.DataFrame(stores_list)

print("Shape of stores df: ",stores.shape)
stores.head()

Shape of stores df:  (10, 5)

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218

In [4]:
domain = 'https://api.data.codeup.com/'
endpoint = 'api/v1/sales'
sales_list = []

url = domain + endpoint
response = requests.get(url)
data = response.json()

# sales_list.extend(data['payload']['sales'])

# for page in range(data['payload']['max_page']-1):
#     print("Checking page: " , page, "of ", data['payload']['max_page'])
#     url = domain + data['payload']['next_page']
#     response = requests.get(url)
#     data = response.json()
    
#     stores_list.extend(data['payload']['sales'])

# sales = pd.DataFrame(sales_list)

# print("Shape of sales df: ",sales.shape)
# sales.head()

# 4. Save to csvs

In [5]:
# sales.to_csv('sales.csv',index=False)
# stores.to_csv('stores.csv', index=False)
# items.to_csv('items.csv', index=False)

# 5. Combine all data into one large dataframe

In [6]:

# sales = acquire.acquire_sales()
# items = acquire.acquire_items()
# stores = acquire.acquire_stores()

# combined = sales.merge(items, 
#                        left_on = 'item', 
#                        right_on = 'item_id').merge(stores,
#                                                    left_on = 'store', 
#                                                    right_on = 'store_id')

In [7]:
combined = acquire.acquire_all()

In [8]:
combined.shape

(5000, 16)

# 6. Open power systems data for Germany

In [9]:
# data = pd.read_csv('https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv')

# data.to_csv('power_systems.csv', index=False)

In [10]:
data = acquire.acquire_power_data()

In [12]:
data.shape

(4383, 5)